---
interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
import "@fontsource-variable/onest";

import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="author" content="Vladimir Curiel" />

    <title>{title}</title>
  </head>
</html>
<body>
  <main
    class="antialiased flex flex-col min-h-screen bg-black text-center text-white p-3"
  >
    <slot />
  </main>
</body>
